
@import '../theme/colors';

.captioned-image {
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.captioned-image-inner {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid $gray_light;
    box-sizing: border-box;
}

.captioned-image-image {
    box-sizing: border-box;
    position:relative;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.captioned-image-image:before, .captioned-image-image:after {
    content:"";
    position:absolute;
    z-index:-1;
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    border-radius:100px / 10px;
}
.captioned-image-image:after {
    right:10px;
    left:auto;
    transform:skew(8deg) rotate(3deg);
}

.captioned-image-caption {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    background-color: $gray_light;
    padding: 8px;
    font-style: italic;
    color: $text_medium_gray;
}

