
$primary_navy: #002e5d;
$primary_white: #000000;
$primary_royal: #0057b8;

$accent_green: #66b200;
$accent_blue: #5f7c9b;
$accent_teal: #84dcb4;
$accent_yellow: #fcc015;

$gray_dark: #141414;
$gray_medium: #666666;
$gray: #c5c5c5;
$gray_light: #e6e6e6;
$gray_pale: #f2f2f2;

$text_dark_gray: $gray_dark;
$text_medium_gray: $gray_medium;
$text_navy: $primary_navy;
$text_white: $primary_white;

$error_red: #b3041a;
