
<byu-header role="banner">
  {% if page.collection %}
  {% assign collection = site.collections | where: "label", page.collection | first %}
  <span slot="site-title">Style Guide - {{ collection.name }}</span>
  {% else %}
  <span slot="site-title">Style Guide{% if page.title %} - {{page.title}}{% endif %}</span>
  {% endif %}
  <byu-search slot="search"></byu-search>
  <byu-menu slot="nav">
    {% assign collections = site.collections | sort: 'order' %}
    {% for collection in collections %}
      {% if collection.label != "posts" %}
      <a class="{% if collection.label == page.collection %}active{% endif %}"
        href="{{collection.label | relative_url}}">{{collection.name}}</a>
      {% endif %}
    {% endfor %}
  </byu-menu>
</byu-header>