
<byu-header role="banner">
  <span slot="site-title">{{ site.title | escape }}</span>
  <byu-search slot="search"></byu-search>
  <byu-menu slot="nav">
    {% assign collections = site.collections | sort: 'order' %}
    {% for collection in collections %}
      {% if collection.label != "posts" %}
      <a class="{% if collection.label == page.collection %}active{% endif %}"
        href="{{collection.label | relative_url}}">{{collection.name}}</a>
      {% endif %}
    {% endfor %}
  </byu-menu>
</byu-header>