---
layout: default
---

<link rel="stylesheet" href="{{ '/assets/spec.css' | relative_url }}">

<style>
  .page-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .spec-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .spec-wrapper > * {
    padding: 8px;
  }

  .main {
    width: 100%;
    max-width: 1200px;
    flex-shrink: 1;
  }

  .secondary-nav {
    /* width: 300px; */
    width: calc((100vw - 1200px) / 2);
    min-width: 300px;
    background-color: #e6e6e6;
    color: #002e5d;
    text-align: center;
    box-sizing: border-box;

    font-family: Gotham A,Gotham B,Helvetica,sans-serif;
  }

  .secondary-nav ul {
    list-style: none;
    margin: 0px;
    padding: 0;
  }

  .secondary-nav ul li {
    margin: 0;
    padding: 0;
    transition: background-color 0.3s;
  }

  .secondary-nav ul li:not(:last-of-type) {
    border-bottom: 1px solid rgba(0, 46, 93, 0.25);
  }

  .secondary-nav ul li:hover {
    background-color: #c5c5c5;
  }

  .secondary-nav a {
    color: #002e5d;
    display: block;
    width: 100%;
    padding: 8px;
    text-decoration: none;
    box-sizing: border-box;
  }
</style>

<div class="spec-wrapper">
  <div class="secondary-nav">
    {% assign collection = site.collections | where: "label", page.collection | first %}
    {% assign docs = collection.docs | where_exp:"item","item.title != 'Index'" %}
    <ul>
    {% for doc in docs %}
      <li><a href="{{doc.url | relative_url}}"
        class="{% if doc.url == page.url %}active{% endif %}">{{doc.title}}</a></li>
    {% endfor %}
    </ul>
  </div>
  <div class="main">{{ content }}</div>
</div>